body{
    width: 100%;
    max-width: 1170px;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.line{
    width: 280px;
    border: rgb(160, 160, 160) 1px solid;
    margin: 10px;
}
.card{
    display: inline-block;
    margin: 10px;
    height: 130px;
    width: 300px;
    border: 1px transparent solid;
    box-shadow: 4px 5px 14px 3px rgba(0,0,0,0.3);
    border-radius: 20px 20px 20px 20px;
}
.card_part1{
    height: 70px;
    width: 300px;
    border: 1px transparent solid;
    border-radius: 20px 20px 0px 0px;
}*

.text2{
    text-align: center;
}
.button{
    display: inline;
    border: 1px blue solid;
    border-radius: 10%;
    margin: 20px;
    text-decoration: none;
    font-size: 150%;
}
.les_card{
    display: inline;
    font-size: 150%;
    color: slategrey;
}









/*body{
    background-color: rgb(225, 181, 255);
}
.table{
    border-collapse: collapse;
}
.th{
    color: black;
    font-size: 30px;
    border: 2px solid black;
    text-align: center;
    padding: 20px;
    transition: 0.2s;
    height: 150px;
    width: 150px;
}
th:hover{
    height: 150px;
    width: 200px;
}
.txt{
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
}
.text{
    font-family: 'Montserrat', sans-serif;

}
.a{
    font-size: 23px;
}
.aa{
    color:darkblue; 
}/*