*{
    margin: 0;
    padding: 0;
}
.container{
    width: 1200px;
    
    margin: 0 auto;
}
.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid #D0D0D0;
}
.header_info{
    list-style-type: none;
    display: flex;
    align-items: center;
}
.ul{
    border-left: 1px solid #E2E2E2;
    height: 40px;
    padding: 0 25px;
}
.ul:last-child{
    border-right: 1px solid #E2E2E2;
}
.list_number{
    display: flex;
}
.smart{
    width: 39px;
    height: 39px;
    padding-left: 15px;
}
.hi_lang{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.list_money{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.list_icon{
    display: flex;
    align-items: center;
    height: 40px;
}
.list_number{
    display: flex;
    align-items: center;
}
.list_icon_logo{
    padding: 0 7px;
}
.header_button{
    display: flex;
}
.header_button1{
    display: flex;
    background-color: #EFF3F6;
    margin-left: 30px;
}
.button_text{
    padding: 17px;
}
.button_icon{
    background-color: #DD4053;
    padding: 17px;
}
.button_icon2{
    background-color: #4AD295;
    padding: 17px;
}
.menu_list{
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-top: 29px;
}
.menu_menu{
    display: flex;
    margin: 0 30px;
    align-items: center;
}
.menu_polygon{
    height: 6px;
    width: 6px;
    margin-left: 8px;
}
.p_menu{
    color: #616161;
}
.p_menu:hover{
    color: black;
}
.banner{
    margin-top: 23px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 14.37%, rgba(0, 0, 0, 0.8) 100%), url("img/Mask\ Group.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 490px;
}
.banner_inner{
    padding-top: 104px;
}
.banner_button{
    border: 1px solid #FFFFFF;
    color: white;
    text-align: center;
    padding: 6px 0;
    font-size: 24px;
    width: 205px;
}
.banner_title{
    margin-top: 16px;
    font-size: 45px;
    color: white;
    width: 725px;
}
.banner_button2{
    color: white;
    border: solid transparent 1px;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 2px;
    font-size: 16px;
    padding: 20px 85px;
}
.banner_button2_container{
    margin-top: 40px;
}
.info{
    height: 250px;
    width: 100%;
    background-color: #F8F8F8;
}
.info_title{
    padding-top: 30px;
    width: 624px;
    font-size: 30px;
}
.info_subtitle{
    color: #777777;
    font-size: 18px;
    padding-top: 15px;
}
.info_button1{
    color: #FFFFFF;
    font-size: 16px;
    border: transparent solid;
    border-radius: 2px;
    background: #BDBDBD;
    width: 200px;
    text-align: center;
    padding: 15px 0;
}
.info_button2{
    color:#969696;
    font-size: 16px;
    border: 1px  #969696 solid;
    border-radius: 2px;
    width: 180px;
    text-align: center;
    padding: 15px 0;
    margin-left: 30px;
}
.info_buttons{
    padding-top: 20px;
    display: flex;
}
.info_icon_img{
    padding: 12px;
    border: 1.2px dashed #969696;
    border-radius: 50%;
    margin-right: 20px;
    margin-bottom: 20px;
}
.info_icon_txt{
    color: #3D3D3D;
    font-size: 18px;
}
.info_icon1{
    display: flex;
    align-items:center;
}
.info_icon2{
    display: flex;
    align-items:center;
}
.info_icon3{
    display: flex;
    align-items:center;
}
.info_inner{
    display: flex;
    justify-content: center;
}
.info_right{
    padding-top: 37px;
}
.hotels_title{
    display: flex;
    justify-content: center;
    align-items:center;
    padding-top: 90px;
}
.hotels_title_txt{
    color: #232323;
    font-size: 45px;
}
.hotels_title_img1{
    width: 25px;
    height: 7px;
    padding: 20px 12px;
    border: 1px solid #C6C6C6;
    border-radius: 50%;
    margin-left: 50px;
}
.hotels_title_img2{
    width: 25px;
    height: 7px;
    padding: 20px 12px;
    border: 1px solid #454545;
    border-radius: 50%;
    margin-left: 20px;
}
.hotels_title_img3{
    margin-left: 58px;
    margin-right: 26px;
    height: 1px;
}
.hotels_title_text{
    padding: 14px 32px;
    color: #969696;
    border: 1px solid #969696;
    border-radius: 2px;
}
.hotels_example{
    display: flex;
    justify-content: space-around;
    padding-top: 52px;
}
.hotels_example1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.6) 100%), url("img/01_Valamar-Dubrovnik-President-Beach-Night_Dean-Tosovic_Valamar_riviera_dd\ 1.png");
    width: 460px;
    height: 450px;
    padding-top: 20px;
}
.hotels_example2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.6) 100%), url("img/276398231\ 2.png");
    width: 460px;
    height: 450px;
    padding-top: 20px;
}
.hotels_example3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.6) 100%), url("img/c41c4172\ 1.png");
    width: 460px;
    height: 450px;
    padding-top: 20px;
}
.hotels_ecample1_txt{
    color: #FFFFFF;
    color: #FFFFFF;
    width: 195px;
    border: solid transparent;
    background: rgba(0, 0, 0, 0.35);
    text-align: center;
    padding: 3px 0;
}