.cart{
    height: 200px;
    width: 300px;
}
.cart_part1{
    height: 70px;
    width: 300px;
    border: 1px black solid;
}
.text2{
    text-align: center;
}
.button{
    border: 1px blue solid;
    border-radius: 15%;
}









/*body{
    background-color: rgb(225, 181, 255);
}
.table{
    border-collapse: collapse;
}
.th{
    color: black;
    font-size: 30px;
    border: 2px solid black;
    text-align: center;
    padding: 20px;
    transition: 0.2s;
    height: 150px;
    width: 150px;
}
th:hover{
    height: 150px;
    width: 200px;
}
.txt{
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
}
.text{
    font-family: 'Montserrat', sans-serif;

}
.a{
    font-size: 23px;
}
.aa{
    color:darkblue; 
}/*